*{
  box-sizing: border-box;
}
h1{
  color: #f50057	
  ;
}
h3{
  color: red;
}
.container{
  display: inline-block;
  background-color: #61dafb;
  margin: 60px;
  padding: 30px;
  border-radius: 50px;
 width:500px;
}
ul{
  
    list-style-type: none;
}
.btn {
padding: 40px;
margin-top: 30px;
}
.search-bar{
width: 30%;
margin-left: 30px;
}
body{
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
